<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appforysy">

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- android 9.0上使用前台服务，需要添加权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--语言变更权限-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />




    <!--    android:resizeableActivity="true"//支持分配功能-->
    <!--    android:configChanges="orientation|screenSize|screenLayout"-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

<!--    鼠标接入会出现页面重新加载，在Activity 中加入&#45;&#45;解决-->
<!--    android:configChanges="keyboard|navigation|keyboardHidden" -->

    <application
        android:name=".YsyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:roundIcon,android:theme">

        <!--设置比例处理-->

        <meta-data
            android:name="android.max_aspect"
            android:value="2.3" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="320" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="480" /> <!-- 刘海屏兼容 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <!--        android:requestLegacyExternalStorage="true"//android 10 需要此权限，否则某些机型有读写权限但是读取文件还会报无权限&ndash;&gt;-->
        <!--        android:networkSecurityConfig="@xml/network_config"//http 能访问-->
        <!--        android:largeHeap="true"//申请大内存-->

        <activity
            android:name=".activity.activity_guide.ActivityGuide"
            tools:ignore="Instantiatable">

        </activity>

        <activity android:name=".activity.draw_line.ActivityDrawVeiw">

        </activity>




        <activity
            android:name=".activity.activity_loading.ActivityLoading"
            tools:ignore="Instantiatable">

        </activity>
 <activity
            android:name=".activity.activity_anim.ActivityMainAnim"
            tools:ignore="Instantiatable">

        </activity>


        <activity
            android:name=".activity.activity_img_main.ActivityImageMain"
            tools:ignore="Instantiatable" />
        <!--        <activity-->
        <!--            android:name="com.cameralib.ActivityCamrea"-->
        <!--            tools:ignore="Instantiatable" />-->
        <activity
            android:name=".activity.activity_rotation.ActivityRotation"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".activity.activity_login.ActivityLogin"
            android:label="登录"
            tools:ignore="Instantiatable"></activity>
        <!--            android:authorities="${applicationId}.fileprovider"-->

        <activity android:name=".activity.activity_banner.ActivityBanner">

        </activity>
        <activity
            android:name=".activity.activity_perfect.ActivityPerfect"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity_intruct.ActivityIntruct">

        </activity>


        <activity
            android:name=".activity.activity_main.ActivityMain"
            tools:ignore="Instantiatable">

        </activity>

        <provider
            android:name=".contentprovider.ConterProviderMain"
            android:authorities="com.appforysy.mainprovider" />

        <activity
            android:name=".activity.activity_edt_note.ActivityNotiEdit"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activity.activity_time_note.ActivityTimeNote"
            android:screenOrientation="landscape"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".activity.activity_scro_vh.ActivityScrollviewVH"
            tools:ignore="Instantiatable" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.PermissionActivity" />
        <activity
            android:name=".activity.activity_detail.Activity_Detail"
            tools:ignore="Instantiatable" />

        <service android:name=".service.ServiceMain" />
        <receiver android:name=".broadcast.MyBroadcast">
            <intent-filter>
                <action android:name="com.abd" />
            </intent-filter>
            <!--            代码注册-->
            <!--            IntentFilter filter = new IntentFilter(“com.forrest.action.mybroadcast”);//和广播中Intent的action对应;-->
            <!--             MyBroadcastReceiver br= new MyBroadcastReceiver();-->
            <!--             registerReceiver(br, filter);-->

        </receiver>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!--        <activity-->
        <!--            android:name=".MultiPickerShareActivity"-->
        <!--            android:screenOrientation="portrait">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SEND"/>-->
        <!--                &lt;!&ndash; Configure specific file types that you want to handle &ndash;&gt;-->
        <!--                &lt;!&ndash; <data android:mimeType="video/*" &ndash;&gt;-->
        <!--                <data android:mimeType="*/*"/>-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.OPENABLE" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.SEND_MULTIPLE"/>-->
        <!--                &lt;!&ndash; Configure specific file types that you want to handle &ndash;&gt;-->
        <!--                &lt;!&ndash; <data android:mimeType="image/*" &ndash;&gt;-->
        <!--                <data android:mimeType="*/*"/>-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.OPENABLE" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

    </application>

</manifest>